USE [master]
GO
/****** Object:  Database [dbOtopark]    Script Date: 23.05.2021 13:43:21 ******/
CREATE DATABASE [dbOtopark]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbOtopark', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbOtopark.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbOtopark_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbOtopark_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbOtopark].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbOtopark]
GO
/****** Object:  Table [dbo].[tbl_abonelik]    Script Date: 23.05.2021 13:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_abonelik](
	[abonelik_id] [int] IDENTITY(1,1) NOT NULL,
	[abonelik_tipi] [nvarchar](50) NULL,
	[abonelik_baslangic_tarihi] [date] NULL,
	[abonelik_bitis_tarihi] [date] NULL,
 CONSTRAINT [PK_Abone] PRIMARY KEY CLUSTERED 
(
	[abonelik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_araclar]    Script Date: 23.05.2021 13:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_araclar](
	[arac_id] [int] IDENTITY(1,1) NOT NULL,
	[arac_plaka] [nvarchar](50) NULL,
	[renk] [nvarchar](50) NULL,
	[model] [nvarchar](50) NULL,
	[yil] [int] NULL,
 CONSTRAINT [PK_tbl_araclar] PRIMARY KEY CLUSTERED 
(
	[arac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_hizmet]    Script Date: 23.05.2021 13:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hizmet](
	[hizmet_id] [int] IDENTITY(1,1) NOT NULL,
	[aracgiris_saati] [date] NULL,
	[araccikis_saati] [date] NULL,
	[ucret] [nvarchar](50) NULL,
	[abonelik_tipi] [nvarchar](50) NULL,
	[musteri_adi_soyadi] [nvarchar](50) NULL,
	[arac_plaka] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_hizmet] PRIMARY KEY CLUSTERED 
(
	[hizmet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_musteriler]    Script Date: 23.05.2021 13:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_musteriler](
	[musteri_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_adi_soyadi] [nvarchar](50) NULL,
	[musteri_adres] [nvarchar](50) NULL,
	[musteri_tel] [int] NULL,
 CONSTRAINT [PK_tbl_musteriler] PRIMARY KEY CLUSTERED 
(
	[musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
